// -=-=-=-=-=-=-=-=-=-=-=-=-



// -=-=-=-=-=-=-=-=-=-=-=-=-





// -=-=-=-=-=-=-=-=-=-=-=-=-
// Fonts 

$GF1: 'Libre Baskerville', serif;
$GF2: 'Inria Serif', serif;
$GF3: 'Sacramento', cursive;
$GF4: 'Amarante', cursive;



// -=-=-=-=-=-=-=-=-=-=-=-=-







// -=-=-=-=-=-=-=-=-=-=-=-=-
// || Styling ||

body {
  background: #FFB6C1;
  background: -moz-linear-gradient(-45deg, #FFB6C1 0%, #E6E6E6 50%, #DB7093 100%);
  background: -webkit-linear-gradient(-45deg, #FFB6C1 0%, #E6E6E6 50%, #DB7093 100%);
  background: linear-gradient(135deg, #FFB6C1 0%, #E6E6E6 50%, #DB7093 100%);
}

h1 {
  font-family: $GF1;
}

h2 {
  font-family: $GF1;
}

h3 {
  font-family: $GF1;
}

h4 {
  font-family: $GF1;
}

h5 {
  font-family: $GF1;
}

p {
  font-family: $GF1;
  
}

#gems {
  margin-left: 200px;
}


#score {
  padding-left: 200px;
  padding-bottom: 100px;
}

#extra {
  padding-bottom: 2000px;
}